body{
    margin: 0px;
    font-family: 'Libre Baskerville'!important;
    font-weight: 500;
}
img{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;

}
p{
    font-size: 14px;
}
.header{
     display: flex;
    flex-direction: row;
    justify-content: space-around; 
    background-color: #45bfd6;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
 
}
.logo{
    margin-top:auto ;
    margin-bottom:auto;
}
.header ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 25px;
    width: auto;
    justify-content: center;
    background-color: #e1c316;
    border-radius: 10px;
}
.header ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    text-decoration: none;
}

.col{
    display: flex;
    flex-direction: row;
}
.all{
    display: flex;
    flex-direction: column; 
    margin: 5px;
}
.ban{
    background-image: url("./Images/new1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #45bfd6; 
}
.ban2{
    background-image: url("./Images/new2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #45bfd6; 
}
.ban3{
    background-image: url("/Images/new3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;  
    padding-left: 50px;
    padding-right: 50px;
    background-color: #45bfd6; 
}
.others{
    display: grid;
    grid-template-columns: 200px 200px;
    padding: 25px;
    justify-items: center;
    justify-content: center;
    gap: 129px;

}
#logo_img{
    border-radius: 80px;
   height: 100px;
    width: 100px; 
}
.but{
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    width: auto;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 10px;
    background-color: #e1c316;
    float: right;
}
#inspi{
    color: aliceblue;
}
#p_inspi{
    color: aliceblue;
    font-size: small;
    font-weight: 200;
}
.testi{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}
.rev1, .rev3{
background-color: #e1c316;
border-radius: 10px;
margin: 5px;
display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.rev2, .rev4{
    background-color:#2681A5;

    border-radius: 10px;
    margin: 5px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    
}
.rev5{
    background-color:#2681A5;

    width: 300px;
    border-radius: 10px;

    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;  
}
.part{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    background-color: #F1EDED;
    width: auto;
    padding-top: 35px;
    padding-bottom: 80px;
}
.bt{
    margin: 0px;
    background-color: #F1EDED;
    width: auto;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2681A5;
   
    padding: 50px;
    margin-top:5px;
}
a{
    text-decoration: none;
    color: black;
}
.li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 20px; */
    list-style: none;
    text-decoration: none;
}
.down{
    list-style: none;
    display: flex;
    flex-direction: column;
   margin: 0px;
    border-radius: 10px;
    padding: 0px;
}
#lg_img{
    
    height: 15px;
    width: 20px;
    text-align: center;
    margin-top: 0;
   

}
.copy{
    background: #45BFD6;

}
.no{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.no p{
    padding-left: 5px;
    margin: 0px;
    color: #F1EDED;
    font-size: 10px;
}
.lgo{
    padding-top: 5px;
    padding: 10px;
    text-align: center;
}
footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-control{
    background-color: #D9D9D9;
}
.site h4 {
color: #D9D9D9;
}
.site p{
    color: #D9D9D9;
}
.site a{
    color: #D9D9D9;
}
.first h4{
    color: #D9D9D9;
}
.first p{
    color: #D9D9D9;
}
.abt{
    background-image: url("./Images/charity-8366471_640\ 1.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    padding-top: 200px;
    /* padding-bottom: 200px; */
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    background-color: #45bfd6; 
}
.abt h5{
    font-size: 20px;
    padding-bottom: 60px;
}

.cmp{
    display: flex;
    flex-direction: column;
    background-color: #F1EDED;
    border-radius: 20px;
    align-items: center;
    padding: 19px;
    height: 180px;
    width: auto;
}
.nav-bar{
    display: none;
}
.iimg{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
height: 50px;
background-color: #b6b4b4;
border-radius: 50%;
}
.rev5 hr{
    border: 1px solid white;
    width: 150px;
    margin: 0px;
}
.rev5 h2{
    margin-bottom: 0px;
color: whitesmoke;
}
.rev5 p{
    color: whitesmoke;
}
.emp{
    background-color: #e1c316;
    width: 177px;
    height: 22px;
}
.us{
    padding: 50px;
    background-color: #1f92bf; 
}
.gcmp{
    display: grid;
    align-items: center;
  gap: 30px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
  
   padding: 10px;
}
.uvp{
color: #F1EDED;
}
.core h3{
    color: #F1EDED;

}
.site a, :placeholder-shown {
    font-style: italic;
}
.saying{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    justify-items: center;
    justify-content: center;
    }
.targ{
    display: grid;
    grid-template-columns: 200px 200px;
    padding: 35px;
    justify-items: center;
    justify-content: center;
    gap: 15px;
       
    }
    .ben, .scp{
        background-color: #e1c316; 
       border-radius: 5px;
       padding: 15px;
       height: auto;
    }
    .quest{
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        color: #2681A5;
    }
    #boy{
        font-size: 30px;
    font-weight: bold;
    }
    .gat{
    padding-top: 160px;
    padding-left: 50px;
    padding-right: 50px;
    color: #2681A5;
    text-align: center;
    }
    hr{
        color: black;
    }
    .gats{
        padding-top: 160px;
        padding-left: 50px;
        padding-right: 50px;   
        text-align: center
    }
    .gats hr{
 margin-left: 250px;
 margin-right: 250px;
           
    }
    .cont{
        padding-left: 50px;
        padding-right: 50px;
        color: #2681A5;
    }
    .slide-up {
        opacity: 0;
        transform: translateY(50px);
        transition: all 4s ease-out;
      }
      
      .slide-up.active {
        opacity: 1;
        transform: translateY(0);
      }
/* styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
    /* Style the navigation menu */
    .header{
        display: none;
    }
    .nav-bar{
        display: flex;
     flex-direction: column;
    overflow: hidden;
    background-color: #45BFD6;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
  }
  .img_mobile{
    margin-top: 20px;
    height: 250px;
    width: 100%;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .nav-bar #myLinks {
    display: none;
    background-color: black;
  }
  
  /* Style navigation menu links */
  .nav-bar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .nav-bar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  /* Add a grey background color on mouse-over */
  .nav-bar a:hover {
    background-color: #1f1c1c;
    color: white;  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color:rgb(130 220 234 / 89%);;
    color: white;
  }
  
.saying, .foot{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.others {
    display: grid;
    grid-template-columns: 200px;
    padding: 25px;
    justify-items: center;
    gap: 50px;
    justify-content: center;
}
.gcmp {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.cmp{
    padding: 12px;
}

}